# API key at: https://www.mapbox.com/
export NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN="sk..."

# API key at: https://textbelt.com/
export NEXT_PUBLIC_TEXTBELT="b..."

# NOTE: a phone number for demoing alerting
export NEXT_PUBLIC_EMERGENCY_PHONE="+13031234567"
